/*INITIAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}
body {
    background-color: #111111;
}
/**//**//**//**//**//**//**//**//**//**//**//**/
/*COLORS*/
.color-purple {
    color:#a18adc;
}
.color-red {
    color:#ff8d8d;
}
.color-yellow {
    color:#ffe082;
}
.color-bgreen {
    color:#cbe0c2;
}
.color-dgreen {
    color:#7cc2ac;
}
.color-bblue{
    color:#94ebff;
}
.color-blue{
    color:#0fcbbc
}
/**//**//**//**//**//**//**//**//**/
/*  OTHERS  */
a{
    text-decoration: none;
    color: #a18adc;
}
a:hover{
    color: #ff8d8d;
    background-color: #a18adc2c;
    border-radius: 8px;
}