/*  GREETINGS   */
.greetings{
    width: 100%;
    height: 80rem;
    background-image: url(../res/background0.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.greetings #greeting{
    position: relative;
    top: 47%;
    left: 50%;
    font-size: 40px;
    width: 375px;
    padding-top: 7px;
    padding-left: 7px;
    border-top: 3px solid #0fcbbc;
    border-left: 3px solid #0fcbbc;
}
.greetings #greeted{
    position: relative;
    top: 50%;
    left: 60%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.75);
    width: 265px;
    padding-bottom: 7px;
    padding-right: 7px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
    border-right: 3px solid rgba(255, 255, 255, 0.7);
}
.greetings #imgkoko{
    position: relative;
    top: 54%;
    left: 45.7%;
}
.greetings #imgkoko:hover{
    background: #ff8d8d;
}
.greetings a{
    position: relative;
    top: 58%;
    left: 48%;
}
.greetings #imgscroll{
    background:rgba(92, 106, 161, 0.25);
    border-radius: 25px;
}
.greetings #imgscroll:hover{
    background:rgba(92, 106, 161, 0.35);
    border-radius: 20px;
}

/*  NAVBAR  */
.navbar{
    display: block;
    position: sticky;
    width: 100%;
    height: 20%;
    height: 5em;
    background-color: #a18adc;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10000;
}
.sticky{
    position: fixed;
    top:0;
    width: 100%;
    border-radius: 5px;
    z-index: 10000;
}
.navbar h1{
    display: inline-block;
    position: relative;
    top: 0.4em;
    left: 1%;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-left: 3px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.75);
}
.navbar h2{
    display: inline-block;
    position: relative;
    right: 5%;
    top: 1.8em;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    color: rgba(255, 255, 255, 0.75);
}
.navbar ul{
    display: flex;
    position: relative;
    left:75%;
    bottom: 1.5em;
    width: 20em;
}
.navbar ul li{
    list-style-type: none;
    margin-left: 35px;
    padding: 5px;
    
}
.navbar ul li a{
    box-sizing: content-box;
    text-decoration: underline;
    color:rgba(255, 255, 255, 0.75);
    font-size: 21px;
    font-weight: 600;
    padding: 5px;
}
.navbar ul li a:hover{
    text-decoration: solid;
    color: #ffe082;
    background-color: rgba(50, 50, 50, 0.75);
}

/*  CONTENT */
.content {
    margin-top: 50px;
    margin-bottom: 50px;
}
.content .mememe {
    box-sizing: none;
    width: 70%;
    display: flex;
    position: relative;
    left: 20em;
    border: 3px groove rgba(144, 255, 129, 0.5);
    border-radius: 10px;
    padding: 20px;
    background-color: black;
    margin-bottom: 50px;
    margin-top: 50px;
}
.content .zarathustra{
    position: relative;
    margin: 10px 10px 10px 10px;
    left: 25%;
    width: 300px;
}
.content .zarathustra h2{
    width: 300px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}
.content .mememe p{
    position: relative;
    width: 400px;
    height: 200px;
    left: 30%;
    top: 4rem;
    font-size: 25px;
}
.content .actuals{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;

}
.content .actuals h3{
    box-sizing: content-box;
    text-align: center;
    position: inherit;
    font-size: 30px;
    border-bottom: 1px solid #a18adc;
    width: 30%;
    left: 35%;
    margin:10px;
    color:#a18adc;
}
.content .actuals ul li{
    position: relative;
    list-style-type: disc;
    font-size: 25px;
}
.content .actuals #network{
    position: relative;
    left: 37%;
    width: 50%;
}
.content .actuals #hobbies{
    position: relative;
    left: 25%;
    width: 50%;
    text-align-last: center;
}
.content .actuals #contact{
    text-align: center;
}

